
@model SecurityKeyViewModel 
    @{
        ViewData["Title"] = "Home page";
    }

<form method="post">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Enter Security Key</p>
        <div class="form-group">
            <input asp-for="SecurityKey" class="form-control" placeholder="Insert Key">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>

        </div>
    </div>
</form>




